
.container, .component {
	border: 1px solid black;
}

.container {
	min-height: 10px;
}

.component {
	cursor: move;
	min-height: 20px;
}

#debug {
	position: fixed;
	left: 50px;
	top: 85%;
}


#loading_indicator {
	display: none;
	background: url('base/img/indicator.gif') no-repeat left center;
	padding-left: 20px;
	float: right;
	line-height: 30px;
	margin-right: 10px;
}


/* properties */

#apply_properties {
	float: left;
}

#delete_component {
	float: right;
}



/******************
	ERROR
*/

#alert_container {
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
}

.error_display {
	float: left;
	width: 100%;
	height: 20px;
	border: 1px solid black;
	border-top: none;
	background-color: orange;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

.error_close {
	float: right;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	height: 20px;
	text-decoration: none;
	color: black;
}



/******************
	TOOLBAR
*/

#toolbar {
	position: absolute;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	background-color: white;

	padding: 0;
	border: 2px solid black;
	height: 30px;
	bottom: 20px;
	z-index: 100;
}

#toolbar .toolbar_item {
	float: left;

	padding: 2px;
	margin: 2px;

	margin-left: 10px;
}

/**************/
/* Components */

#components_panel {
	position: fixed;
	left: 0;
	top: 10%;
	height: 80%;
	width: 30px;

	border: 1px solid black;
	background: #E0E0E0;

	margin: 0;
	padding: 0;
}

#components_panel .item {
	border: none;
	border-bottom: 1px solid black;
	display: block;
	width: 30px;
	height: 30px;
}

#components_panel .item img{
	border: none;

}

/**************/
/* Properties */

#properties_panel {
	position: absolute;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;

	background-color: #EEEEEE;
	border: 1px dashed black;
	z-index: 1000;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;

	min-height: 25px;
	right: 0;
	top: 0;
	width: 350px;
}

#properties_panel .title {
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	background-color: lightgrey;
	border-bottom: 1px solid grey;
	text-align: center;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;

	cursor: move;
}

#properties_panel .body {
	padding: 4px;
}

#properties_panel_pages {
	display: none;
}

#properties_panel  .category {
/*
	border: 1px solid black;
	margin: 4px;
	margin-top: 20px;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
*/
}

#properties_panel .category .title {
	position: relative;
	top: -10px;
	left: 10px;
	padding: 1px;
	background-color: transparent;
	border: none;
	text-align: left;

/*

	border: 1px solid black;
	width: 60%;


	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
*/
}

#properties_panel .category .item {
	width: 100%;
	margin-bottom: 3px;
	clear: both;
}

#properties_panel .category .item LABEL {
	float: left;
	width: 30%;
	margin-right: 5px;
	text-align: right;
	line-height: 20px;
}

#properties_panel .category .item INPUT, #properties_panel .category .item SELECT {
	margin-left: 5px;
	border: 1px solid black;
	padding: 1px;
	padding-left: 3px;
}

.slider{
	width: 100%;
	height: 4px;
	background-color:#aaa;
	margin: 10px;
}

.slider_handle {
	position: relative;
	top: -3px;
	width: 4px;
	height: 10px;
	background-color:#f00;
}

/**************/

