
#multiprop_Menu_item .menu_title {
	margin-top: 10px;
	border-bottom: 1px dotted black;
}


#multiprop_Menu_item .header LABEL {
	float: left;
	width: 30%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#multiprop_Menu_item .line {
	clear: both;
	height: 20px;
	padding: 0;
}

#multiprop_Menu_item .line * {
	width: 30%;
}

#multiprop_Menu_item .line .menu_remove_button {
	float: right;
	background: url("../../img/delete.png") no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}

#multiprop_Menu_item .line_model {
	display: none;
}

A#menu_add_button {
	border: none;
}