
.menu_title {
	margin-top: 10px;
	border-bottom: 1px dotted black;
}


.header LABEL {
	float: left;
	width: 30%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.line {
	clear: both;
	height: 20px;
	padding: 0;
	margin: 3px 20px 0px 20px;
}

.line * {
	width: 30%;
}

.line .menu_remove_button {
	float: right;
	background: url("../../img/delete.png") no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}

.line_model {
	display: none;
}

A#menu_add_button IMG {
	border: none;
	margin: 5px 0px 0px 20px;
}