
/* Component */
.menu_component A{
	display: block;
}


/* Property panel*/
#multiprop_Menu_item {

}

#multiprop_Menu_item .menu_title {
	margin-top: 10px;
	border-bottom: 1px dotted black;
}


#multiprop_Menu_item .header {

}

#multiprop_Menu_item .header LABEL {
	float: left;
	width: 30%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#multiprop_Menu_item .line {
	clear: both;
	height: 20px;
	padding: 0;
}

#multiprop_Menu_item .line * {
	width: 30%;
	border: 1px dotted black;
}

#multiprop_Menu_item .line .remove_button {
	float: right;
	background: url("../../base/img/delete.png") no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}

#multiprop_Menu_item .line_model {
	display: none;
}

