/*
	page layout
*/

BODY {
	overflow: hidden;
}


#left_container, #middle_container, #right_container {
	float: left;
	padding: 0;
	margin: 0;

	top: 10px;

	width: 14%;

}

#left_container { 	left: 10px; }
#right_container {	float: right; right: 10px; }
#middle_container { width: 60%; margin-left: 5%; margin-right: 5%; }

.component {
	margin: 0;
	padding: 0;

	background-color: lightgreen;
}

.hover {
	border: 1px solid red;
}

/**************************/
/* component specific CSS */

/* Board */

.boardcomponent .post {
	border-bottom: 2px solid black;
}
.boardcomponent .post .title {
	float: left;
}
.boardcomponent .post .user {
	float: right;
}
.boardcomponent .post .text {
	clear: both;
	padding: 10px;
	border-top: 1px solid black;
}


