/*
	page layout
*/

BODY *{
	/*overflow: hidden;*/
	margin: 0;
	padding: 0;
}

#middle_container {
	margin-left: 22%;
	margin-right: 22%;
	border: 1px solid gray;
}

#footer_container {
	clear: both;
}

#left_container, #right_container {
	padding: 0;
	margin: 10px;

	width: 20%;
	border: 1px solid gray;
}

#left_container { 	float: left; }
#right_container {	float: right; }


.component {
	margin: 0;
	padding: 0;
}

.hover {
	border: 1px solid red;
}

/**************************/
/* component specific CSS */

/* Board */

.board_component .post {
	border-bottom: 2px solid black;
}
.board_component .post .title {
	float: left;
}
.board_component .post .user {
	float: right;
}
.board_component .post .text {
	clear: both;
	padding: 10px;
	border-top: 1px solid black;
}


